<h1 class="font-extrabold text-3xl my-2">Actualizar categoría</h1>

<section class="mx-auto flex justify-center items-center w-4/5 md:w-3/5 xl:w-2/5 flex-wrap">
  <a
    class="w-full flex items-center justify-center font-bold px-3 py-1.5 my-4 font-mediun text-white bg-green-700 rounded-md hover:bg-green-500 transition duration-300 cursor-pointer"
    href="/categories/add"
  >
    <i class="material-icons-outlined mr-1">
      add
    </i>
    Crear nueva categoría
  </a>
  
  <app-categories-form
    [category]="category" 
    (sendCategory)="UpdateCategory($event)"
  ></app-categories-form>
  
</section>