<table class="table text-gray-600 border-separate space-y-6 text-sm">
  <thead class="bg-gray-900 text-white">
    <tr>
      <th class="p-3 text-left">Categoría</th>
      <th class="p-3 text-left">Descripcion</th>
      <th class="p-3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-gray-200 text-left">
      <td class="p-3 text-gray-700 font-bold uppercase">
        Beverages
      </td>
      <td class="p-3 max-w-md md:max-w-xl">
        Soft drinks, coffees, teas, beers, and ales
      </td>
      <td class="p-3">
        <a href="#" class="text-gray-400 hover:text-yellow-500 mx-1 md:mx-2">
          <i class="material-icons">edit</i>
        </a>
        <a href="#" class="text-gray-400 hover:text-red-500 mx-1 md:mx-2">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
    <tr class="bg-gray-200 text-left">
      <td class="p-3 text-gray-700 font-bold uppercase">
        Beverages
      </td>
      <td class="p-3 max-w-md md:max-w-xl">
        Soft drinks, coffees, teas, beers, and ales
      </td>
      <td class="p-3">
        <a href="#" class="text-gray-400 hover:text-yellow-500 mx-1 md:mx-2">
          <i class="material-icons">edit</i>
        </a>
        <a href="#" class="text-gray-400 hover:text-red-500 mx-1 md:mx-2">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>