<h1 class="font-extrabold text-3xl my-2">Categorías</h1>

<div class="flex items-center justify-center">
  <div class="col-span-12">
    <div class="overflow-auto lg:overflow-visible">
      <div class="flex justify-end">
        <a 
          class="flex items-center justify-center px-3 py-1.5 text-white bg-green-700 rounded-md hover:bg-green-500 transition duration-300 cursor-pointer"
          href="/categories/add"
        >
        <i class="material-icons-outlined mr-1">
          add
        </i>
        Añadir categoría
        </a>
      </div>
      <app-categories-table></app-categories-table>
    </div>
  </div>
</div>