/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

input.ng-invalid.ng-touched {
  border: 1px solid #dc2626;
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched.ng-dirty {
  border: 1px solid #22c55e;
}

button:disabled {
  opacity: .5;
}