<div class="flex flex-col justify-center items-center flex-wrap max-w-sm p-6 bg-gray-100 border border-gray-200 rounded-lg shadow my-3">
  <i class="material-icons-outlined mb-2 text-green-700 text-5xl">
    {{ section.icon }}
  </i>
  <a href="#">
      <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900">{{ section.name }}</h5>
  </a>
  <p class="mb-3 font-normal text-gray-600">{{ section.text }}</p>
  <div class="flex justify-center my-0">
    <a 
      class="flex items-center justify-center px-3 py-1.5 text-white bg-green-700 rounded-md hover:bg-green-500 transition duration-300 cursor-pointer"
      [routerLink]="section.router"
      title="Ir a {{ section.name }}" 
    >
      Ver más
      <i class="material-icons-outlined text-md ml-1">
        arrow_right_alt
      </i>
    </a>
  </div>
</div>